---
import AboutHeroImage from '../assets/blog-about-new.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Hello, I’m George V. Thomas. I help organizations simplify and secure their digital identity infrastructure. With over 20 years of experience in global tech companies—including 13+ years specialized in product engineering and Level 3 support for Entrust (Canada)—I bring deep expertise in IAM domain.
		I am an expert in SSO, OAuth 2.0, OIDC, and SAML. Alongside my independent consulting work, I am currently partnered with a premier managed Keycloak provider to deliver specific IAM services.
	</p>
<hr/>

	<p>More details on my services:</p>
	

	<a href="https://encourageat.com">
      IAM Consulting & Freelance Development
    </a>
	<br/>

    <a href="https://encourageat.com/iam-training">
      IAM Training
    </a>
	<br/>
	<hr/>

		<a
      href="https://www.linkedin.com/in/george-v-thomas-79487887/"
      target="_blank"
      rel="noopener noreferrer"
    >
       Connect on LinkedIn
    </a>

    

	
</Layout>
