---
import AboutHeroImage from '../assets/blog-about-new.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 02 2026')}
	heroImage={AboutHeroImage}
>
	<p>Hello, I'm George V. Thomas. I help organizations simplify and secure their digital identity infrastructure. With over 20 years of experience in global technology companies—including 13+ years specializing in product engineering and Level 3 support for Entrust (Canada)—I bring deep expertise in the Identity and Access Management (IAM) domain.<br/>
	My core expertise includes Single Sign-On (SSO), OAuth 2.0, OpenID Connect (OIDC), SAML, SCIM and enterprise identity architecture. Alongside my independent consulting work, I am currently partnered with a premier managed Keycloak provider in a part-time contract role.<br/>
	</p>
	<hr/>
	<p>More details on services: <br/>
	<a href="https://encourageat.com">
      IAM Consulting & Development
    </a>
	<br/>

    <a href="https://encourageat.com/iam-training">
      IAM Training
    </a>
	<br/>
	</p>
	<hr/>

		<a
      href="https://www.linkedin.com/in/george-v-thomas-79487887/"
      target="_blank"
      rel="noopener noreferrer"
    >
       Connect on LinkedIn
    </a>

    

	
</Layout>
